
h1{background-color: blueviolet;height: 50px;line-height:50px ;color: white;font-size: large;font-family: 'Times New Roman', Times, serif;text-align: center;}
#imageContainer img{width: 30%;height: 300px;float: left;padding: 5px;padding-left: 10px;}
p{padding-top: 20px;font-size: medium;font-family:fantasy;padding-left: 10px;}
span{padding-top: 20px;font-size: medium;font-family:fantasy;padding-left: 10px;}